@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url('https://png.pngtree.com/thumb_back/fw800/background/20230803/pngtree-the-sun-is-setting-on-top-of-mountains-with-clouds-in-image_12992367.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sign-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}